{% extends "layout/base.html" %}

{% block content %}
<div class="row-fluid">
  <div class="span4">
    <form class="form-horizontal" action="/tasks/{{ task.key().id() }}/edit" method="post">

      <div class="control-group">
        <label class="control-label" for="inputTitle">Title</label>
        <div class="controls">
          <input type="text" name="title" id="inputTitle" placeholder="Title" value="{{ task.title }}">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="inputText">Text</label>
        <div class="controls">
          <textarea rows="3" name="text" id="inputText" placeholder="Text">{{ task.text }}</textarea>
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="inputcompany">Company</label>
        <div class="controls">
          <select name="company" id="inputcompany" value="{{task.company.key().id()}}">
            {% for company in companies %}
              <option value="{{company.key().id()}}">{{company.name}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn">Save</button>
        </div>
      </div>
    </form>
  </div>
  <div class="span7 offset1">
    {% include 'files/upload.html' %}
  </div>
</div>
{% endblock %}