{% extends "layout/base.html" %}

{% block content %}
<div class="row-fluid">
  <div class="span4">
    <form class="form-horizontal" action="/tasks/{{ task.key().id() }}/edit" method="post">

      <div class="control-group">
        <label class="control-label" for="inputTitle">Title</label>
        <div class="controls">
          <input type="text" name="title" id="inputTitle" placeholder="Title" value="{{ task.title }}">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="inputText">Text</label>
        <div class="controls">
          <textarea rows="3" name="text" id="inputText" placeholder="Text">{{ task.text }}</textarea>
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="inputcompany">Company</label>
        <div class="controls">
          <select name="company" id="inputcompany" value="{{task.company.key().id()}}">
            {% for company in companies %}
              <option value="{{company.key().id()}}">{{company.name}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="inputusers">Attach users</label>
        <div class="controls">
          <select name="users" id="inputusers" multiple="multiple">
            {% for user in users %}
              <option value="{{user.key().id()}}" {% if user.user in task.attach_users %} selected {% endif%}>{{user.user.email()}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="control-group hidden">
        <label class="control-label" for="inputusers">Attach files</label>
        <div class="controls">
          <textarea id="attach_files" name="attach_files"></textarea>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="inputusers">Attach files</label>
        <div class="controls">
          <table>
          {% for file in task.get_urls_attach_files() %}
            {% if file.image_url %}
            <tr>
                <td>
                  <a href="{{file.image_url}}" title="{{file.filename}}" data-gallery="gallery">
                    <img src="{{ file.image_url_200 }}" class="img-rounded">
                  </a>
                </td>
                <td>
                  <button class="btn btn-danger delete" data-type="DELETE" data-url="{{ request.host_url + file.delete_url }}">
                    <i class="icon-trash icon-white"></i>
                  </button>
                </td>
              </tr>

            {% else%}
              <a href="{{file.link_file}}">
                <i class="icon-file  icon-3x"></i> 
                {{ file.filename }}
              </a>
            {% endif%}
        
          {% endfor%}
        </table>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <button type="submit" id="save" class="btn">Save</button>
        </div>
      </div>
    </form>
  </div>
  <div class="span7 offset1">
    {% include 'files/upload.html' %}
  </div>
</div>

<script>
// add uploading files into form
$("#save").click(function(event) {
  event.preventDefault();
  console.log("click submit");
  array = $(".template-download .name a");
  for (var i = array.length - 1; i >= 0; i--) {
    key = $(array[i]).attr("key");
    $("#attach_files").append(key + ",");
  };
  $("#form_create").submit();
});
</script>

{% endblock %}