{% extends "layout/base.html" %}

{% block content %}

<div class="row-fluid">
  <div class="span6 offset1">
    <form action="/tasks/{{ task.key().id() }}/edit" method="post" id="form_edit">

      <div class="control-group">
        <label class="control-label" for="inputTitle">Title</label>
        <div class="controls">
          <input type="text"  class="span8" name="title" id="inputTitle" placeholder="Title" value="{{ task.title }}">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="inputText">Text</label>
        <div class="controls">
          <textarea rows="12" class="span8" name="text" id="inputText" placeholder="Text">{{ task.text }}</textarea>
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="inputusers">Attach users</label>
        <div class="controls">
          <select name="users" id="inputusers" multiple="multiple">
            {% for user in users %}
              <option value="{{user.key().id()}}" {% if user.user in task.attach_users %} selected {% endif%}>{{user.user.email()}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="control-group hidden">
        <label class="control-label" for="inputusers">Attach files</label>
        <div class="controls">
          <textarea id="attach_files" name="attach_files"></textarea>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <button type="submit" id="save" class="btn btn-large btn-primary">Save</button>
        </div>
      </div>
    </form>
  </div>

  <div class="span5">
    <div class="row">
      <ul class="unstyled">
        {% for file in task.get_urls_attach_files() %}
          <li style="margin-bottom:10px">
          {% if file.image_url %}
          
            <ul class="inline">
              <li>
                <a href="{{file.image_url}}" title="{{file.filename}}">
                  <img src="{{ file.image_url_200 }}" class="img-rounded">
                </a>
              </li>
              <li>
                <form action="/tasks/{{ task.key().id()}}/blob/{{file.key}}/delete" method="post" class="not_visible">
                  <button type="submit" class="btn btn-mini btn-danger delete"><i class="icon-trash icon-white"></i></button>
                </form>  
              </li>
            </ul>             
          {% else%}
            <ul class="inline" style="margin-left:7.5em">
              <li>
                <a href="{{file.link_file}}">
                  <i class="icon-file  icon-3x"></i> 
                  {{ file.filename }}
                </a>
              </li>
              <li> 
                  <form action="/tasks/{{ task.key().id()}}/blob/{{file.key}}/delete" method="post" class="not_visible">
                  <button type="submit" class="btn btn-mini btn-danger delete"><i class="icon-trash icon-white"></i></button>
                </form>  
              <li>
          {% endif%}
          </li>
        {% endfor%}
      </ul>
    </div>
    <div class="row" style="margin-top:30px">
      {% include 'files/upload.html' %}
    </div>
  </div>
</div>

<script>
// add uploading files into form
$("#save").click(function(event) {
  event.preventDefault();
  console.log("click submit");
  array = $(".template-download .name a");
  for (var i = array.length - 1; i >= 0; i--) {
    key = $(array[i]).attr("key");
    $("#attach_files").append(key + ",");
  };
  $("#form_edit").submit();
});
</script>

{% endblock %}