{% extends "layout/base.html" %}

{% block content %}
{% if company_of%}
  <h4> Tasks of {{company_of.name}} </h4>
{% else %}
  <h4>  All tasks </h4>
{% endif%}

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>attach_users</th>
      <th>attach_files</th>
      <th>create_by</th>
    </tr>
  </thead>
  <tbody>
    
      {% for task in tasks %}
        <tr>
            <td class="span7"><a href="/tasks/{{ task.key().id()}}"><h5>{{ task.title }}</h5></a>
              <p class="muted" style="margin-left:20px">
                <small>
                  {{ task.lm_text() }}
                </small>
              </p>
            </td>
            <td class="span3">
              <ul class="inline">
              {% for user_attach in task.attach_users %}
                <li>
                  <span class="label label-info">{{ user_attach }}</span>
                </li>
              {% endfor %}
              </ul>
            </td>
            <td class="span5">
              <div id="gallery" role="presentation" class="files" data-toggle="modal-gallery" data-target="#modal-gallery">
                {% for file in task.get_urls_attach_files() %}
                  {% if file.image_url %}
                    <a href="{{file.image_url}}" title="{{file.filename}}" data-gallery="gallery">
                      <img src="{{ file.image_url_40 }}" class="img-rounded">
                    </a>
                  {% else%}
                    <a href="{{file.link_file}}">
                      <i class="icon-file  icon-1x"></i> 
                      {{ file.filename }}
                    </a>
                  {% endif%}
              
                {% endfor%}
              </div>
            </td>
            <td>{{ task.create_by }}</td>
            <td class="span1"><a href="tasks/{{task.key().id()}}/edit" class="btn btn-mini">Edit</a></td>
            <td class="span1">
              <form action="/tasks/{{ task.key().id()}}/delete" method="post" class="not_visible">
                <button type="submit" class="btn btn-mini delete">Delete</button>
              </form>       
            </td>
        </tr>
      {% endfor %}
    
  </tbody>
</table>

<a class="btn btn-info" href="/tasks/create">Create new task</a>

<script>
$('document').ready(function() {
  $(".more").click(function(event) {
    event.preventDefault();
    $("#hidde_" + $(event.target).attr("id")).removeClass("hidden")
    $("#"+$(event.target).attr("id")).hide()
    $("#less_" + $(event.target).attr("id")).show()
  });

   $(".less").click(function(event) {
    event.preventDefault();
    var id = $(event.target).attr("id").replace("less_", "")
    console.log("#hidde_" + id)
    $("#hidde_" + id).addClass("hidden")
    $("#"+id).show()
    $("#less_" + id).hide()
  });
});
</script>

{% endblock %}