{% extends "layout/base.html" %}

{% block content %}
<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd>{{ task.title }}</dd>

  <dt>Email</dt>
  <dd>{{ task.text }}</dd>

  <dt>Attach Users</dt>
  <dd>{{ task.atach_users }}</dd>

  <dt>Create by</dt>
  <dd>{{ task.create_by }}</dd>

  <dt>company</dt>
  <dd>{{ task.company.name }}</dd>

  <dt>files</dt>
    <ul class="inline">
      {% for file in task.get_urls_attach_files() %}

        <li style="padding:5px"><a href="{{file.link_file}}"><img src="{{ file.image_url }}" class="img-rounded" /></a></li>
    
      {% endfor%}
    </ul>
</dl>

<a class="btn btn-info" href="/tasks/{{ task.key().id() }}/edit">Edit</a>
<a class="btn btn-info" href="/tasks">All</a>

{% endblock %}