{% extends "layout/base.html" %}

{% block content %}

<form class="form-horizontal" action="/companies/{{ company.key().id() }}/edit" method="post">

  <div class="control-group">
    <label class="control-label" for="inputPassword">Name</label>
    <div class="controls">
      <input type="text" name="name" id="inputName" placeholder="Name" value="{{ company.name }}">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputEmail">Email</label>
    <div class="controls">
      <input type="text" name="email" id="inputEmail" placeholder="Email" value="{{ company.email }}">
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="inputusers">Attach users</label>
    <div class="controls">
      <select name="users" id="inputusers" multiple="multiple">
        {% for user in users %}
          <option value="{{user.key().id()}}" {% if user.user in company.attach_users %} selected {% endif%}>{{user.user.email()}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
      
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Save</button>
    </div>
  </div>
</form>


{% endblock %}