{% extends "layout/base.html" %}

{% block content %}

<table class="table table-hover table-striped">
  <tbody>
    
      {% for user in users %}
        <tr>
            <td ><a href="/users/{{ user.key().id()}}">{{ user.user.email() }}</a></td>
            <td >{{ user.user.nickname() }}</td>
             <td class="span1"><a href="users/{{user.key().id()}}/edit" class="btn btn-mini">Edit</a></td>
            <td class="span1">
              <form action="/users/{{ user.key().id()}}/delete" method="post" class="not_visible">
                <button type="submit" class="btn btn-mini delete">Delete</button>
              </form>       
            </td>
        </tr>
      {% endfor %}
    
  </tbody>
</table>

<a class="btn btn-info" href="/users/invite">Invite user</a>
{% endblock %}