<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
      <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
      <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
      <link href="/static/css/styles.css" rel="stylesheet">
      <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">

      <link rel="stylesheet" href="/static/jQuery-File-Upload/css/jquery.fileupload-ui.css">
      <!--<link rel="stylesheet" href="/static/jQuery-File-Upload/css/bootstrap-image-gallery.min.css">-->
      <!-- CSS adjustments for browsers with JavaScript disabled -->
      <noscript><link rel="stylesheet" href="/static/jQuery-File-Upload/css/jquery.fileupload-ui-noscript.css"></noscript>
      <script src="/static/js/jquery.js"></script>
      <script src="/static/bootstrap/js/bootstrap.js"></script>
      <link rel="stylesheet" href="/static/prettyPhoto/css/prettyPhoto.css" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />
      <script src="/static/prettyPhoto/js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
      
  </head>
  <body>
    {% include 'layout/navigate.html' %}

    <div class="container content">
        {% if errors %}
          <div class="alert alert-error">
              {{errors}}
          </div>
        {% endif %}
        {% block content %}{% endblock %}
    </div>

 

  <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
  <script src="/static/jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>
  <!-- The Templates plugin is included to render the upload/download listings -->
  <script src="/static/jQuery-File-Upload/js/vendor/tmpl.min.js"></script>
  <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
  <script src="/static/jQuery-File-Upload/js/vendor/load-image.min.js"></script>
  <!-- The Canvas to Blob plugin is included for image resizing functionality -->
  <script src="/static/jQuery-File-Upload/js/vendor/canvas-to-blob.min.js"></script>
  <!-- Bootstrap JS and Bootstrap Image Gallery are not required, but included for the demo -->
   <!--<script src="/static/jQuery-File-Upload/js/vendor/bootstrap-image-gallery.min.js"></script>-->
  <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
  <script src="/static/jQuery-File-Upload/js/jquery.iframe-transport.js"></script>
  <!-- The basic File Upload plugin -->
  <script src="/static/jQuery-File-Upload/js/jquery.fileupload.js"></script>
  <!-- The File Upload processing plugin -->
  <script src="/static/jQuery-File-Upload/js/jquery.fileupload-process.js"></script>
  <!-- The File Upload image resize plugin -->
  <script src="/static/jQuery-File-Upload/js/jquery.fileupload-resize.js"></script>
  <!-- The File Upload validation plugin -->
  <script src="/static/jQuery-File-Upload/js/jquery.fileupload-validate.js"></script>
  <!-- The File Upload user interface plugin -->
  <script src="/static/jQuery-File-Upload/js/jquery.fileupload-ui.js"></script>

 </body>
</html>
{% endautoescape %}