<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Task-Manager</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li {% if "/" == request.path%}class="active"{%endif%}>
                <a href="/">Home</a>
              </li>
              <li {% if "/categories" in request.path%}class="active"{%endif%}>
                <a href="/categories">Categories</a>
              </li>
              <li {% if "/tasks" in request.path%}class="active"{%endif%}>
                <a href="/tasks">Tasks</a>
              </li>
              <li {% if "/users" in request.path%}class="active"{%endif%}>
                <a href="/users">Users</a>
              </li>
            </ul>
            <ul class="nav pull-right">
              <li><a href="#">{{user.nickname()}}</a></li>
              <li><a href="{{url_sing_out}}">Log out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
